/* Estilização dos elementos */

#calendario{
	height: 100vh;
	width: 100vw:
}

#calendario-card .icons{
	cursor: pointer;
}

#calendario-card ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendario-card .dias{
	cursor: pointer;
}

