*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono';
}

body{
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: #ffffff;
}

.wrapper{
  width: 450px;
  background: #fff;
	border-style: solid;
	border-color: #ccc;
  border-radius: 10px;
}

.titulo{
  padding: 15px;
	background: #ccc;
	font-size: 1.9rem;
	text-align: center;
}

.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .icons{
  display: flex;
}

header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .data-atual{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendario{
  padding: 20px;
}
.calendario ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendario .dias{
  margin-bottom: 20px;
}
.calendario li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendario .semanas li{
  font-weight: 500;
  cursor: default;
}
.calendario .dias li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.dias li.inactive{
  color: #aaa;
}
.dias li.active{
  color: #fff;
}

.dias li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.dias li.active::before{
  background: #ccc;
}

.dias li:not(.active):hover::before{
  background: #f2f2f2;
}
