/* Estilização geral da página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono";
}

/* Estilização do body */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.container {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.janela {
  display: inline-block;
  min-width: 50vw;
  border-style: solid;
  border-color: #ccc;
  border-radius: 10px;
  text-align: center;
}

.add-evento-titulo {
  background: #ccc;
  padding: 10px;
  font-size: 1.9rem;
}
.dia-atual {
  font-size: 1.6rem;
  padding: 10px;
}

.formulario {
  width: 50vw;
  padding-left: 20px;
  padding-right: 20px;
}

.titulo {
  /* display: flex; */
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.45rem;
  text-align: left;
}

.titulo input[type="text"] {
  padding: 5px;
  height: 50px;
  width: 100%;
  border: solid;
  border-color: #ccc;
  border-radius: 4px;
}

.data {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-align: left;
}

.data input[type="text"] {
  padding: 5px;
  width: 100%;
  border: solid;
  border-color: #ccc;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
}

.local {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.45rem;
  text-align: left;
}

.local input[type="text"] {
  padding: 5px;
  position: right;
  height: 50px;
  width: 100%;
  border: solid;
  border-color: #ccc;
  border-radius: 4px;
}

.descricao {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.45rem;
  text-align: left;
}

.descricao textarea {
  padding: 5px;
  width: 100%;
  border: solid;
  border-color: #ccc;
  border-radius: 4px;
}

.btn-concluido {
  font-size: 1.45rem;
  background: #808080;
  border-radius: 5px;
  margin: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

.btn-cancelar {
  font-size: 1.45rem;
  background: #ccc;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
}
